.coverImg img {
  max-height: 240px;
}

/*
.paginationWrapper {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  flex-wrap: wrap;
}
.paginationWrapper ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.paginationWrapper nav {
  display: flex;
  justify-content: center;
  width: 50vw;
}
.paginationWrapper li {
  margin: 0 4px;
}
.results {
  display: contents;
} */
