/* TODO */
.pageItem {
  display: inline;
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0275d8;
  background-color: #fff;
  border: 1px solid #ddd;
  touch-action: manipulation;
  text-decoration: none;
}
.pageItemActive {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.listGroup {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.listGroupItem {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0 0.125);
}
