.layoutWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridWrapper {
  width: 80%;
  max-width: 1600px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
@media only screen and (max-width: 600px) {
  .gridWrapper {
    width: 80%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
  }
}
