.notFound {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notFound h1 {
    color: #41D3BD;
    font-size: calc(56px + 25vw);
    margin: 20px;
}
.notFound p {
    color: #897693;
    font-weight: 300;
}
.notFound a {
    display: block;
    text-decoration: none;
    margin-top: 48px;
    color: #fff;
    background: #41D3BD;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 300;
}
.notFound svg {
    position: absolute;
    top: 48px;
    width: 100px;
}